@model ConfigurationModel
@using Nop.Plugin.Misc.ProductKits.Models
@using Nop.Web.Framework

@{
    Layout = "";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Misc.ProductKits.Category")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.CategoryId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDropDownListFor(model => model.CategoryId, Model.AvailableCategories)
                        @Html.ValidationMessageFor(model => model.CategoryId)
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
