@model ProductSearchModel
@using Nop.Web.Areas.Admin.Models.Catalog
@using Nop.Core.Infrastructure
@using Nop.Web.Framework
@using Nop.Core.Domain.Catalog
@using Nop.Web.Framework.UI

@{
    
    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;

    //page title
    ViewBag.Title = T("Nop.Plugin.Misc.ProductKits.Title").Text;
    //active menu item (system name)
    NopHtml.SetActiveMenuItemSystemName("Nop.Plugin.Misc.ProductKits.List");
    NopHtml.AppendCssFileParts("~/Plugins/Misc.ProductKits/plugin.css");
}

@{
    const string hideSearchBlockAttributeName = "ProductListPage.HideSearchBlock";
    var hideSearchBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSearchBlockAttributeName);
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="float-left">
            @T("Nop.Plugin.Misc.ProductKits.Title")
        </h1>
        @* <div class="float-right" style="width: 400px;">
            <div class="row form-horizontal">
                <div class="form-group">
                    <div class="col-md-4 plugin-header-sku-label">
                        <nop-label asp-for="GoDirectlyToSku" />
                    </div>
                    <div class="col-md-8 plugin-header-sku-data">
                        <div class="input-group input-group-short">
                            <nop-editor asp-for="GoDirectlyToSku" />
                            <span class="input-group-append">
                                <button type="submit" id="go-to-product-by-sku" name="go-to-product-by-sku" class="btn btn-info btn-flat">
                                    @T("Admin.Common.Go")
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> *@
    </div>

      <section class="content">
        <div class="container-fluid">
            <div class="form-horizontal">
                <div class="cards-group">
                      <div class="card card-default card-search">
                        <div class="card-body">

                            <div class="row search-row @(!hideSearchBlock ? "opened" : "")" data-hideAttribute="@hideSearchBlockAttributeName">
                                <div class="search-text">@T("Admin.Common.Search")</div>
                                <div class="icon-search"><i class="fas fa-magnifying-glass" aria-hidden="true"></i></div>
                                <div class="icon-collapse"><i class="far fa-angle-@(!hideSearchBlock ? "up" : "down")" aria-hidden="true"></i></div>
                            </div>
                            <div class="search-body @(hideSearchBlock ? "closed" : "")">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchProductName" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchProductName" />
                                            </div>
                                        </div>
                                        <div class="form-group row" @(Model.AvailableCategories.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchCategoryId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchCategoryId" asp-items="Model.AvailableCategories" />

                                            </div>
                                        </div>
                                        <div class="display-none form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchIncludeSubCategories" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-editor asp-for="SearchIncludeSubCategories" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchManufacturerId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchManufacturerId" asp-items="Model.AvailableManufacturers" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchVendorId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchVendorId" asp-items="Model.AvailableVendors" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchStoreId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchStoreId" asp-items="Model.AvailableStores" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchWarehouseId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchWarehouseId" asp-items="Model.AvailableWarehouses" />
                                            </div>
                                        </div>
                                        <div class="display-none form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchProductTypeId" />

                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchProductTypeId" asp-items="Model.AvailableProductTypes" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="SearchPublishedId" />
                                            </div>
                                            <div class="col-md-8">
                                                <nop-select asp-for="SearchPublishedId" asp-items="Model.AvailablePublishedOptions" />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-4">
                                                <nop-label asp-for="GoDirectlyToSku" />
                                            </div>
                                            <div class="col-md-8">
                                                <div class="input-group input-group-short">
                                                    <nop-editor asp-for="GoDirectlyToSku" />
                                                    <span class="input-group-append">
                                                        <button type="submit" id="go-to-product-by-sku" name="go-to-product-by-sku" class="btn btn-info btn-flat">
                                                            @T("Admin.Common.Go")
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="text-center col-12">
                                        <button type="button" id="search-products" class="btn btn-primary btn-search">
                                            <i class="fas fa-magnifying-glass"></i>
                                            @T("Admin.Common.Search")
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card-default">
                        <div class="card-body">
                                  @await Html.PartialAsync("Table", new DataTablesModel
                         {
                             Name = "products-grid",
                             UrlRead = new DataUrl("ProductList", "ProductKits", null),
                             SearchButtonId = "search-products",
                             Length = Model.PageSize,
                             LengthMenu = Model.AvailablePageSizes,
                             Filters = new List<FilterParameter>
                                  {
                                      new FilterParameter(nameof(Model.SearchProductName)),
                                      new FilterParameter(nameof(Model.SearchCategoryId)),
                                      new FilterParameter(nameof(Model.SearchIncludeSubCategories), typeof(bool)),
                                      new FilterParameter(nameof(Model.SearchManufacturerId)),
                                      new FilterParameter(nameof(Model.SearchStoreId)),
                                      new FilterParameter(nameof(Model.SearchWarehouseId)),
                                      new FilterParameter(nameof(Model.SearchVendorId)),
                                      new FilterParameter(nameof(Model.SearchProductTypeId)),
                                      new FilterParameter(nameof(Model.SearchPublishedId))
                                  },
                             ColumnCollection = new List<ColumnProperty>
                                  {
                                      new ColumnProperty(nameof(ProductModel.Id))
                                      {
                                          IsMasterCheckBox = true,
                                          Render = new RenderCheckBox("checkbox_products"),
                                          ClassName =  NopColumnClassDefaults.CenterAll,
                                          Width = "50"
                                      },
                                      new ColumnProperty(nameof(ProductModel.PictureThumbnailUrl))
                                      {
                                          Title = T("Admin.Catalog.Products.Fields.PictureThumbnailUrl").Text,
                                          Width = "100",
                                          Render = new RenderPicture(width: 100)
                                      },
                                      new ColumnProperty(nameof(ProductModel.Name))
                                      {
                                          Title = T("Admin.Catalog.Products.Fields.Name").Text
                                      },
                                      new ColumnProperty(nameof(ProductModel.Sku))
                                      {
                                          Title = T("Admin.Catalog.Products.Fields.Sku").Text,
                                          Width = "100"
                                      },
                                                                           
                                      new ColumnProperty(nameof(ProductModel.Published))
                                      {
                                          Title = T("Admin.Catalog.Products.Fields.Published").Text,
                                          Width = "80",
                                          ClassName = NopColumnClassDefaults.CenterAll,
                                          Render = new RenderBoolean()
                                      },
                                      new ColumnProperty(nameof(ProductModel.Id))
                                      {
                                          Title = T("Admin.Common.Edit").Text,
                                          Width = "80",
                                          ClassName =  NopColumnClassDefaults.Button,
                                          Render = new RenderButtonEdit(new DataUrl("~/Admin/ProductKits/Edit"))
                                      }
                                  }
                         })
                        </div>
                    </div>
                    </div>
                </div>
            </div>
    </section>
    <script type="text/javascript">

        $(function() {
            $("#@Html.IdFor(model => model.GoDirectlyToSku)").keydown(function (event) {
                if (event.keyCode === 13) {
                    $("#go-to-product-by-sku").trigger("click");
                    return false;
                }
            });
        });

        function additionalData() {
            var data = {
                SearchProductName: $('#@Html.IdFor(model => model.SearchProductName)').val(),
                SearchCategoryId: $('#SearchCategoryId').val(),
                SearchIncludeSubCategories: $('#@Html.IdFor(model => model.SearchIncludeSubCategories)').is(':checked'),
                SearchManufacturerId: $('#SearchManufacturerId').val(),
                SearchStoreId: $('#SearchStoreId').val(),
                SearchWarehouseId: $('#SearchWarehouseId').val(),
                SearchVendorId: $('#SearchVendorId').val(),
                SearchProductTypeId: $('#SearchProductTypeId').val(),
                SearchPublishedId: $('#SearchPublishedId').val()
            };
            addAntiForgeryToken(data);
            return data;
        }

        function onDataBound(e) {

        }
    </script>
}