@model IList<NopValley.Plugins.Misc.Areas.Admin.Models.BlogAdditionalModel>
@using Nop.Core.Domain.Blogs
@using Nop.Web.Framework.Mvc.Routing
<link rel="stylesheet" href="~/Plugins/NopValley.Misc/Content/css/styles.css" />

@{
    if (Model.Count() > 0)
    {
        <div class="blog-container">   
            <div class="title">
                Latest From Blog
               <!--  T("BlogPost.List") -->
            </div>
            <div class="home-page-blogpost-grid">
                
                    @foreach (var blog in Model)
                    {
                        <div class="card">
                            <div class="post-picture">
                                <a href="@(Url.RouteUrl<BlogPost>(new { SeName = blog.SeName }))" title="@blog.PictureModel.Title">
                                    <img alt="@blog.PictureModel.AlternateText" src="@blog.PictureModel.ImageUrl" title="@blog.PictureModel.Title" />
                                </a>
                                <div class="blog-post-date">@blog.CreatedOn.ToString("MMMM dd, yyyy")</div>
                            </div>
                            <div class="card-body">
                                <div class="card-title">
                                    <a href="@(Url.RouteUrl<BlogPost>(new { SeName = blog.SeName }))" title="@blog.Title">
                                        @blog.Title
                                    </a>
                                </div>
                                <div class="card-text">
                                    @Html.Raw(@blog.Body)
                                </div>
                                <a class="blogpost-more" href="@(Url.RouteUrl<BlogPost>(new { SeName = blog.SeName }))" title="@blog.Title">
                                    Read More...
                                </a>
                            </div>
                        </div>                        
                    }
         
            </div>

        </div>
    }
    <script asp-location="Footer">
        $(function () {
            $('.blogpost-slider').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 1,
                dots: true,
                arrow: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 3,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });
    </script>
}

<style>
    .home-page-blogpost-grid .item-box div a {
        display: flex;
    }


        .home-page-blogpost-grid .item-box div a img {
            max-width: 100%;
            max-height: 100%;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }

    .blogpost-slider {
        display: flex;
        gap: 10px;
        width: 100%;
    }

        .blogpost-slider .slick-slide {
            padding: 0 10px;
        }

    .blogpost-more {
        font-size: 14px;
        color: #0069FF;
        padding: 10px 0 0 0;
        font-weight: 600;
    }

    .home-page-blogpost-grid .item-box > div:first-child {
        position: relative;
    }

    .blog-post-date {
        position: absolute;
        bottom: 0;
        left: 15px;
        border-radius: 6px 6px 0 0;
        background-color: #fff;
        padding: 16px 20px 12px;
        font-size: 17px;
        display: block;
        font-size: 17px;
        font-weight: 700;
        color: #175288;
    }

    .blogpost-more {
        font-size: 14px;
        color: #0069ff;
        padding: 10px 0 0 0;
        font-weight: 600;
       display:inline-flex;
        align-items: center;
        column-gap: 10px;
        border-radius: 5px;
        background-color: #175288;
        padding: 11px 15px;
        font-size: 17px;
        font-weight: 700;
        transition: .2s ease;
        color: #fff;
        margin-top:10px;
    }

    .blog-container .title {
        margin: 0 0 20px;
        padding: 0px;
        font-size: 30px;
        font-weight: normal;
        color: #000;
        text-align: left;
    }

    .card-title a{
        font-size:20px;
    }

    .card-text {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    .card-text p{
        font-size: 16px;
        line-height: 24px;
    }
    
</style>