@model IList<PublicHomeCategoryFilterModel>
@using Nop.Core.Domain.Catalog
@using Nop.Web.Framework.Mvc.Routing

@{
    if (Model.Count() > 0)
    {
        <div class="homecategory-filter-container">
            <h1>@T("Home.CategoryFilter")</h1>
            <div class="category-container">

                <div class="category-wrapper">
                    <div class="root-categories common-container">
                        <div class="category-filter-name">@T("NopValley.Plugins.Misc.VehicleType")</div>

                        <div class="dropdown-categories">
                            @foreach (var category in Model)
                            {
                                <div class="options" data-href="@(Url.RouteUrl<Category>(new { SeName = category.SeName }))" data-id="@category.CategoryId">@category.Name</div>
                            }
                        </div>

                    </div>

                </div>

                <div class="btn-search-container">
                    <a id="btn-search">ARA</a>
                </div>

            </div>
        </div>
    }

}

<script asp-location="Footer">
    $(function () {
        $("body").on('click', '.common-container', function () {
            $(this).find(".dropdown-categories").toggle();
        });

        $("body").on('click', '#btn-search', function () {
            if ($(".root-categories").find(".category-filter-name").attr("data-href") != undefined) {
                var count = $(".common-container").length - 1;
                var element = $(".category-wrapper .common-container:eq(" + count + ")");
                console.log(element.find(".category-filter-name").attr("data-href") == undefined);

                if (element.find(".category-filter-name").attr("data-href") == undefined && element.find(".category-filter-name").attr("data-label") == "label") {
                    alert("Please select " + element.find(".category-filter-name").text());
                }
                else {
                    url = element.find(".category-filter-name").attr("data-href");
                    window.location.href = window.location.origin + url;
                }



            }
            else {
                alert("Please select a vehicle");
            }
        });

        $("body").on('click', '.options', function () {

            var parentEl = $(this).parents(".common-container");

            if ($(this).parents(".root-categories").length && $(this).attr("data-sub") == undefined) {
                $(".sub-categories").remove();
            }

            console.log($(this).attr("data-subcat"));

            if ($(this).attr("data-subcat") == "0") {
                $(".sub-categories:eq(1)").remove();
            }
            else if ($(this).attr("data-subcat") == "1") {
                $(".sub-categories:eq(2)").remove();
            }

            parentEl.find(".category-filter-name").text($(this).text());
            parentEl.find(".category-filter-name").attr("data-id", $(this).attr("data-id"));

            console.log();

            parentEl.find(".category-filter-name").attr("data-href", $(this).attr("data-href"));


            var categoryId = $(this).attr("data-id");

            var postData = { id: categoryId, count: $(".sub-categories").length };
            addAntiForgeryToken(postData);

            $.ajax({
                cache: false,
                url: window.location.origin + "/PublicCatalog/GetCatalogSubCategories",
                data: postData,
                type: 'POST',
                success: function (response) {
                    $(".category-wrapper").append(response);
                },
                error: function () {
                    displayPrelaoder(false);
                    alert("error");
                }
            });

            //if (parentEl.find(".category-filter-name").attr("data-href") != undefined) {



            //}
            //else {
            //    alert("Please select a" + parentEl.find(".category-filter-name").text());
            //}



            //else {
            //    console.log("subc");
            //}


        });
    });
</script>