@model TestimonialListModel
@using Nop.Web.Framework.Mvc.Routing
<link rel="stylesheet" href="~/Plugins/NopValley.Misc/Content/css/testimonial.css" />
@{
    if (Model.Testimonials.Count() > 0)
    {
        <div class="testimonial-container">
            <div class="title">
                @T("Testimonial")
            </div>
            <div class="home-page-testimonial-grid">
                <div class="item-grid testimonial-slider">
                    @foreach (var item in Model.Testimonials)
                    {

                        <div class="card">
                            <div class="card-top">
                                <img class="card-img-top" alt="@item.PictureModel.AlternateText" src="@item.PictureModel.ImageUrl" title="@item.PictureModel.Title" />
                                <div>
                                    <h5 class="card-title">@item.Title</h5>
                                    <div>
                                        <div class="star-rating">
                                            <ul class="list-inline">
                                                @{
                                                    for (var i = 1; i <= item.Rating; i++)
                                                    {
                                                        <li class="list-inline-item"><i class="fa-solid fa-star"></i></li>
                                                    }

                                                    for (var i = 1; i <= (5 - item.Rating); i++)
                                                    {
                                                        <li class="list-inline-item"><i class="fa-regular fa-star"></i></li>
                                                    }
                                                }

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-bottom card-body">
                                <p class="card-text">@Html.Raw(@item.Description)</p>
                            </div>
                        </div>                        
                    }
                </div>
            </div>

        </div>
    }

}

<style>

</style>

<script asp-location="Footer">
    $(function () {

        if (window.outerWidth <= 768) {
            $(".testimonial-slider").width(window.outerWidth - 10);
        }

        $('.testimonial-slider').slick({
            infinite: true,
            slidesToShow: 1,
            slidesToScroll: 1,
            dots: true,
            arrow: false,
            autoplay: true,
            responsive: [
                
                {
                    breakpoint: 768,
                    settings: {
                        dots: true
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        dots: true
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    });
</script>