@model ConfigurationModel

<form asp-controller="Reference" asp-action="Configure" method="post">
    <section class="content">
        <div class="container-fluid">
            <div class="cards-group">
                <div class="card card-default">

                    <div class="card-body">
                        <input asp-for="Id" type="hidden" />
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="EnableReference" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EnableReference" />
                                <span asp-validation-for="EnableReference"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="EnableCaseStudy" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="EnableCaseStudy" />
                                <span asp-validation-for="EnableCaseStudy"></span>
                            </div>
                        </div>



                        @(await Html.LocalizedEditorAsync<ConfigurationModel, ReferenceConfigurationLocalizedModel>("reference-configuration-localized",
                            @<div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-label asp-for="@Model.Locales[item].ReferenceHtml" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].ReferenceHtml" asp-template="RichEditor" />
                                        <span asp-validation-for="@Model.Locales[item].ReferenceHtml"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-label asp-for="@Model.Locales[item].CaseStudyHtml" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].CaseStudyHtml" asp-template="RichEditor" />
                                        <span asp-validation-for="@Model.Locales[item].CaseStudyHtml"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-label asp-for="@Model.Locales[item].ReferenceMenu" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].ReferenceMenu" />
                                        <span asp-validation-for="@Model.Locales[item].ReferenceMenu"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-label asp-for="@Model.Locales[item].CaseStudyMenu" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="@Model.Locales[item].CaseStudyMenu"  />
                                        <span asp-validation-for="@Model.Locales[item].CaseStudyMenu"></span>
                                    </div>
                                </div>
                                <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
                            </div>
                            ,
                            @<div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-label asp-for="ReferenceHtml" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="ReferenceHtml" asp-template="RichEditor" />
                                        <span asp-validation-for="ReferenceHtml"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-label asp-for="CaseStudyHtml" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="CaseStudyHtml" asp-template="RichEditor" />
                                        <span asp-validation-for="CaseStudyHtml"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-label asp-for="ReferenceMenu" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="ReferenceMenu" />
                                        <span asp-validation-for="ReferenceMenu"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <nop-label asp-for="CaseStudyMenu" />
                                    </div>
                                    <div class="col-md-9">
                                        <nop-editor asp-for="CaseStudyMenu"  />
                                        <span asp-validation-for="CaseStudyMenu"></span>
                                    </div>
                                </div>                               
                            </div>
                            ))


                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="PageSize" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="PageSize" />
                                <span asp-validation-for="PageSize"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">

                                <nop-label asp-for="CaseStudyUrl" />
                            </div>
                            <div class="col-md-9">

                                <input class="form-control text-box single-line" type="text" value="@Model.CaseStudyUrl" readonly />
                                <span asp-validation-for="CaseStudyUrl"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-3">

                                <nop-label asp-for="ReferenceUrl" />
                            </div>
                            <div class="col-md-9">
                                <input class="form-control text-box single-line" type="text" value="@Model.ReferenceUrl" readonly />
                                <span asp-validation-for="ReferenceUrl"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">

                                <nop-label asp-for="CaseStudyListPageHeader" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="CaseStudyListPageHeader" />
                                <span asp-validation-for="CaseStudyListPageHeader"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">

                                <nop-label asp-for="ShowGalleryThumb" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ShowGalleryThumb" />
                                <span asp-validation-for="ShowGalleryThumb"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">

                                <nop-label asp-for="ShowPictureCaption" />
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="ShowPictureCaption" />
                                <span asp-validation-for="ShowPictureCaption"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <nop-label asp-for="SelectedTemplateId" />
                            </div>
                            <div class="col-md-9">
                                <nop-select asp-for="SelectedTemplateId" asp-items="Model.AvailableTemplates" />
                                <span asp-validation-for="SelectedTemplateId"></span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-3">
                                <label>@("NopValley.Plugins.Misc.Field.WidgetZones")</label>
                            </div>
                            <div class="col-md-9">
                                <textarea class="form-control" disabled style="height:200px">
                                    casestudy_top
                                    casestudy_bottom
                                    reference_top
                                    reference_bottom
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-default">
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-9 offset-md-3">
                                <button type="submit" name="save" class="btn btn-primary">@T("Admin.Common.Save")</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>