@model NopValley.Plugins.Misc.Areas.Admin.Models.ServicePost.ServicePostModel
@{

    var showTour = ViewBag.ShowTour ?? false;

    const string hideInfoBlockAttributeName = "ServicePostPage.HideInfoBlock";
    var hideInfoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideInfoBlockAttributeName);

    const string hideSeoBlockAttributeName = "ServicePostPage.HideSEOBlock";
    var hideSeoBlock = await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideSeoBlockAttributeName, defaultValue: true);
    
    const string hideMultimediaBlockAttributeName = "ProductPage.hideMultimediaBlock";
    var hideMultimediaBlock = showTour ? false : await genericAttributeService.GetAttributeAsync<bool>(await workContext.GetCurrentCustomerAsync(), hideMultimediaBlockAttributeName);


}

<div asp-validation-summary="All"></div>
<input asp-for="Id" type="hidden" />

<section class="content">
    <div class="container-fluid">
        <div class="form-horizontal">
            <nop-cards id="blog-post-cards">
                <nop-card asp-name="blog-post-info" asp-icon="fas fa-info" asp-title="@T("Admin.ContentManagement.Blog.BlogPosts.Info")" asp-hide-block-attribute-name="@hideInfoBlockAttributeName" asp-hide="@hideInfoBlock" asp-advanced="false">@await Html.PartialAsync("~/Plugins/NopValley.Misc/Areas/Admin/Views/ServicePost/_CreateOrUpdate.Info.cshtml", Model)</nop-card>
                <nop-card asp-name="product-multimedia" asp-icon="fas fa-photo-video" asp-title="@T("Admin.Catalog.Products.Multimedia")" asp-hide-block-attribute-name="@hideMultimediaBlockAttributeName" asp-hide="@hideMultimediaBlock" asp-advanced="false">@await Html.PartialAsync("~/Plugins/NopValley.Misc/Areas/Admin/Views/ServicePost/_CreateOrUpdate.Multimedia.cshtml", Model)</nop-card>
               
            </nop-cards>
        </div>
    </div>
</section>